app = 'elearnio-articles'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'

[checks]
  [checks.health]
    type = 'http'
    port = 80
    path = '/health'
    interval = '15s'
    timeout = '5s'
    grace_period = '10s'
